*.DS_Store*
*.replay
*__pycache__*

dist/*
!dist/.gitkeep
*.zip
*.txt
evolve/
algos/Katara/baseStrategy0*.pickle
algos/Sokka/baseStrategy2*.pickle
algos/Sokka/baseStrategy3*.pickle
algos/Sokka/baseStrategy4*.pickle
genetic_Katara/
*.7z
pgenetic_Katara/
